<form id="esewaForm" action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
    <input type="hidden" name="amount" value="{{ totalAmount }}">
    <input type="hidden" name="totalAmount" value="{{ totalAmount }}">
    <input type="hidden" name="productCode" value="{{ productCode }}">
    <input type="hidden" name="merchantCode" value="{{ merchantCode }}">
    <input type="hidden" name="signature" value="{{ signature }}">
    <input type="hidden" name="successUrl" value="{{ success_url }}">
    <input type="hidden" name="failureUrl" value="{{ failure_url }}">
</form>
<script>
    document.getElementById('esewaForm').submit();
</script>
