{% extends 'base.html' %}
{% block title%}Cart{% endblock title %}
{% load static %}
{% block content%} 
<div class="my-profile">
  <div class="profile">
    <div class="profile-name">  
      <img class="profile-image" src="{% static 'images/profile.png' %}" alt="">
      <h2 class="user-name">{{ user.username }}</h2>
     
    </div>
    <div class="profile-account">
      <h2>Account Stats</h2>
      <p>Total Orders: <strong>{{ total_orders }}</strong></p>
      <p>Total Spent: <strong>Rs. {{ total_spent }}</strong></p>
    </div>    
  </div>
  <div class="order-history">
    <h3>Order History</h3>
    <table class="order-history-table">
      <tr>
        <th>Order id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Order Date</th>
        <th>Payment Status</th>
        <th>Delivery</th>
      </tr>
      {% for item in order_history %}
      <tr>
        <td>{{ item.order_id }}</td>
        <td>{{ item.product }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.date|date:"Y-m-d H:i" }}</td>
        <td>{{ item.status }}</td>
        <td>
          {% if item.is_delivered %}
            <span style="color:green">Delivered</span>
          {% else %}
            <span style="color:red">Not Delivered</span>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No orders found.</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content%}
